a {
  width: 150px;
  height: 30px;

  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  background: linear-gradient(#323232, #a0a0a0, #505050, #828282);

  float: right;
  border-radius: 15px;
  margin-left: 60px;
}

.body {
  width: 1250px;
  height: 670px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body .intro {
  width: 800px;
  height: 500px;

  float: left;

  margin: 0 0 0 50px;
}

.body .intro h1 {
  font-size: 50px;
  margin: 0 0 30px;
  font-weight: 700;
  padding: 10px;
  border-bottom: 5px solid #969696;
}

.body .intro h2 {
  font-size: 20px;
}


.img {
  width: 800px;
  height: 550px;

  background-image: url("https://images.unsplash.com/photo-1631624215749-b10b3dd7bca7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

  background-size: cover;
  background-position: center center;
  filter: drop-shadow(10px 6px 6px #3c3c3c);
  border-radius: 15px;
  
  margin: 0 0 0 60px;
}
