.tag {
  width: 50px;
  height: 20px;

  float: right;
  margin-right: 50px;
}

a {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(#64a0ff, #6482ff, #5050ff, #0000ff);
}

.header {
    width: 500px;
    height: 300px;

    align-items: center;
    justify-content: center;
}

.header .header_Area {
    float: left;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: firebrick;
}

.header2 {
    width: 500px;
    height: 300px;

    align-items: center;
    justify-content: center;
}

.header2 .header_Area2 {
    width: 500px;
    height: 300px;
    float: right;

    background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
}
