.header {
  width: 100%;
  height: calc(100vh - 50px);
}

.header .header_Area {
    width: 100%;
    height: 300px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}